.photo-grid {
  max-width: 1184px;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  width: calc(100% - 48px * 2);
  gap: 16px;
  margin: 0 auto;
  padding: 92px 0;
}

@media screen and (max-width: 768px) {
  .photo-grid {
    /* max-width: 720px; */
    width: calc(100% - 24px * 2);
    padding: 88px 0;
    /* width:100%; */
  }
}
@media screen and (max-width: 348px) {
  .photo-grid {
    padding: 64px 0;
    width: calc(100% - 2 * 16px);
  }
}
