.footer__columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 320px) and (max-width: 766px) {
  .footer__columns {
    flex-direction: column;
    gap: 48px;
    align-items: flex-start;
  }
}

@media screen and (max-width: 320px) {
  .footer__columns {
    flex-direction: column;
  }
}
