.lead {
  max-width: 984px;
  width: calc(100% - 148px * 2);
  padding-bottom: 92px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .lead {
    width: calc(100% - 48px * 2);
    max-width: 928px;
  }
}
@media screen and (max-width: 768px) {
  .lead {
    width: 100%;
  }
}
@media screen and (max-width: 320px) {
  .lead {
    padding-bottom: 64px;
  }
}
